body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: white;
}

html { 
  box-sizing: border-box; 
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

a {
  text-decoration: none;
}

img { 
  max-width: 100%; 
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  font: inherit;
  background-color: grey; 
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  text-decoration: none;
  color: black;
  display: inline-block;
  border-radius: 3px;
}

.btn:hover,
.btn:focus,
.btv:active {
  background-color: #e74246;
}

.red-button {
  background-color: #fb565a;
  color: white;
}

.red-button:active {
  background-color: #d7373b;
  color: #e06366;
}
.grey-button {
  background-color: #eeeeee;
  color: black; 
}

.grey-button:hover,
.grey-button:focus {
  background-color: #dfdfdf;
}

.grey-button:active {
  background-color: #d5d5d5;
  color: #959595;
}

.navigation {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  color: #101010;
  background-color: #eeeeee;
}

.basket-button {
  border: none;
  font: inherit;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.basket-button:hover,
.basket-button:focus {
  color: #e74246;
}
.basket-button:active {
  color: #a6a6a6;
}
.header-logo {

}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #101010;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #e74246;
}
.site-navigation a:active {
  color: #a6a6a6;
}

.slider {
  background-color: #eeeeee;
  list-style: none;
}

.slider-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  font-weight: 400;
}

.slider-item h2 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: black;
}

.learn-more-button {
  width: 240px;
  height: 60px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.services {

}

.services-list {
  list-style: none;
}

.service-item {
  text-align: left;
}

.service-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.order-button {
  padding: 15px 10px;
  width: 160px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
} 

.service-item div {
  width: 300px;
  height: 146px; 
}

.service-item:nth-child(1) div {
  background-color: #fb565a; 
} 

.service-item:nth-child(2) div {
  background-color: #00ca74;
} 

.service-item:nth-child(3) div {
  background-color: #efc84a;
}

.service-item a {
  color: #ffffff;
}

.about {

}

.about-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: medium;
  color: black;
}

.about p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.about h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

.about-list {
list-style: none;
}

.about-item {

}

.aside-title {

}

.aside-table-value {
  font-size: 45px;
  line-height: 10,06px;
  font-weight: bold;
  color: black; 
}

.aside-table-description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136; 

}

.partners {
  
}

.partners-list {
  list-style: none;

}

.footer {

}

.contacts {

}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

.contacts-adress {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.contacts-tel {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.write-us-button {
  padding: 15px 10px;
  width: 220px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.social {

}

.social-list {
  list-style: none; 
}

.social-item {
  background-color: #e1e1e1;
  border-radius: 50%; 
  height: 80px;
  width: 80px;
}

.social-item-link svg {

}

.footer-title {

}

.footer-title h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: black;
}

.footer-title p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.popup {

}

.send-button {
  width: 260px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.popup h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: black;
}

.popup-form {

}

.popup-item {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: black;
}

 /*Каталог*/
.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: black;
}

.sort {

}

.sort h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: black;
}

.sort a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}

.button-up {

}

.button-down {

}

.catalog-filter {

}

.catalog-filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: black;
  text-transform: uppercase; 
}

.catalog-filter label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #61686c;  
}

.radiobutton-list {
 list-style: none; 
}

.checkbox-list {
 list-style: none; 
}

.show-button {
  width: 260px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}


.templates {

}

.buy-button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}


.templates h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: black; 
  text-transform: uppercase; 
}

.templates p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666; 
   
}

.templates-list {
  list-style: none; 
}

.template-item {

}

.template-image {
  background-color: grey;
  height: 576px; 
  width: 360px;
}
.pagination-list {
  list-style: none;
}


.pagination-item {
  padding: 15px 10px;
  width: 50px;
  height: 50px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-item:active {
  background-color: #dfdfdf;
  opacity: 0.3;
}

.pagination-item-current {
  color: #000000;
  border: 2px solid #dbdbdb;
  border-radius: 5%; 
  background-color: #ffffff;
}

.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
  color: #000000;
  background-color: #ffffff;
}
.pag-next-button {
  width: 260px;
  height: 50px;
}
